<% @catalogs.each do | catalog | %>
<div class="block_index">
  <h3><a href="<%= catalog_path(catalog) %>">«<%= catalog.name %>»</a></h3>
  <a href="<%= catalog_path(catalog) %>">
    <% cimg = catalog.catalogimgs[0] %>
    <% unless cimg.nil? %>
      <%= image_tag cimg.picture.url(:medium) %>
    <% else %>
      <%= image_tag "" %>
    <% end %>
  </a>
  <span><%= catalog.biztype %></span>
  <span class="online"></span>
  <span class="podpischikov">0</a>
</div>
<% end %>
