<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @item.name %>
</p>

<p>
  <strong>Spec:</strong>
  <%= @item.spec %>
</p>

<%= link_to 'Edit', edit_catalog_particle_item_path(1,1,@item) %> |
<%= link_to 'Back', catalog_particle_items_path(1,1,1) %>
