<div id="form_page">
<h3>Добавить страницу каталога «<%= @catalog.name %>»</h3>
<%= form_for(@particle, url: catalog_particles_path(@catalog), :html => { :multipart => true } ) do |f| %>
  <% if @particle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@particle.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @particle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <ul>
    <li class="yellow_bg"> <span>Заголовок страницы:</span> <%= f.text_field :name %> </li>
    <hr>
    <% 1.times { @particle.items.build } %>
    <%= f.fields_for :items do |it| %>
      <li> <span>Заголовок первого материала на странице:</span> <%= it.text_field :name %> </li>
      <li> <span>Описание первого материала на странице:</span> <%= it.text_area :spec %> </li>
      <li>
        <span>Главное изображение:</span> <%= it.file_field :picture %><br>
        <input type="button" value="Добавить ещё изображение" style="width: 200px">
      </li>
    <% end %>
    
  </ul>
  <%= f.submit "Добавить", :id => "submit_but" %>
<% end %>
</div>
