<div id="form_page">
<h3>Добавить страницу каталога «АвтоShop»</h3>
<ul>
  <li class="yellow_bg"><span>Заголовок страницы:</span><input type="text"></li>
  <hr>
  <li><span>Заголовок первого материала на странице:</span><input type="text"></li>
  <li><span>Описание первого материала на странице:</span><textarea></textarea></li>
  <li><span>Главное изображение:</span><input type="file"><br>
  <input type="button" value="Добавить ещё изображение" style="width: 200px"></li>
</ul>
<input id="submit_but" type="submit" value="Добавить">
</div>

<%= form_for(@particle, url: catalog_particles_path(@catalog)) do |f| %>
  <% if @particle.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@particle.errors.count, "error") %> prohibited this item from being saved:</h2>

      <ul>
      <% @particle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
